servide.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/userService"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/userService">  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/userService">
      <xsd:complexType name="User">
        <xsd:sequence>
          <xsd:element name="userIdNumber" type="xsd:string"/>
          <xsd:element name="userName" type="xsd:string"/>
          <xsd:element name="userAge" type="xsd:int"/>  <xsd:elemen0t name="userEmail" type="xsd:string"/>
          <xsd:element name="userPhone" type="xsd:string"/>
          <xsd:element name="userCity" type="xsd:string"/>
          <xsd:element name="userCountry" type="xsd:string"/>
          <xsd:element name="userPostalCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="createUserRequest">
    <wsdl:part name="user" element="tns:User"/>
  </wsdl:message>

  <wsdl:message name="createUserResponse">
    <wsdl:part name="result" element="xsd:string"/>  </wsdl:message>

  <wsdl:message name="getUserRequest">
    <wsdl:part name="userId" element="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="getUserResponse">
    <wsdl:part name="user" element="tns:User"/>  </wsdl:message>

  <wsdl:portType name="UserServicePort">
    <wsdl:operation name="create_user">
      <wsdl:input message="tns:createUserRequest"/>
      <wsdl:output message="tns:createUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="get_user">
      <wsdl:input message="tns:getUserRequest"/>
      <wsdl:output message="tns:getUserResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="UserServicePortBinding" type="tns:UserServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create_user">
      <soap:operation soapAction="http://example.com/userService/create_user"/>
      <wsdl:input>
        <soap:body use="encoded"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_user">
      <soap:operation soapAction="http://example.com/userService/get_user"/>
      <wsdl:input>
        <soap:body use="encoded"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="UserService">
    <wsdl:port name="UserServicePort" binding="tns:UserServicePortBinding">
      <soap:address location="http://user:3003/users"/>  
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
