service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/userService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/userService">
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/userService">
            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element name="userIdNumber" type="xsd:string"/>
                    <xsd:element name="userName" type="xsd:string"/>
                    <xsd:element name="userAge" type="xsd:int"/>
                    <xsd:element name="userEmail" type="xsd:string"/>
                    <xsd:element name="userPhone" type="xsd:string"/>
                    <xsd:element name="userCity" type="xsd:string"/>
                    <xsd:element name="userCountry" type="xsd:string"/>
                    <xsd:element name="userPostalCode" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="postUserRequest">
        <wsdl:part name="user" element="tns:User"/>
    </wsdl:message>

    <wsdl:message name="postUserResponse">
        <wsdl:part name="result" element="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="getUserRequest">
        <wsdl:part name="userId" element="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="getUserResponse">
        <wsdl:part name="user" element="tns:User"/>
    </wsdl:message>

    <wsdl:portType name="UserServicePort">
        <wsdl:operation name="postUser">
            <wsdl:input message="tns:postUserRequest"/>
            <wsdl:output message="tns:postUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:getUserRequest"/>
            <wsdl:output message="tns:getUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UserServicePortBinding" type="tns:UserServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="postUser">
            <soap:operation soapAction="http://example.com/userService/postUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap:operation soapAction="http://example.com/userService/getUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="UserService">
        <wsdl:port name="UserServicePort" binding="tns:UserServicePortBinding">
            <soap:address location="http://localhost:3003/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
