service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.com/ws/wsSoapPort"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.example.com/ws/wsSoapPort">

    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.com/ws/wsSoapPort">
            <xsd:element name="userId" type="xsd:string"/>
            <xsd:element name="userIdNumber" type="xsd:int"/>
            <xsd:element name="userName" type="xsd:string"/>
            <xsd:element name="userAge" type="xsd:int"/>
            <xsd:element name="userEmail" type="xsd:string"/>
            <xsd:element name="userPhone" type="xsd:string"/>
            <xsd:element name="userAddress" type="xsd:string"/>
            <xsd:element name="userCity" type="xsd:string"/>
            <xsd:element name="userCountry" type="xsd:string"/>
            <xsd:element name="userPostalCode" type="xsd:string"/>
            
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="postUserRequest">
        <wsdl:part name="userIdNumber" element="tns:userIdNumber"/>
        <wsdl:part name="userName" element="tns:userName"/>
        <wsdl:part name="userAge" element="tns:userAge"/>
        <wsdl:part name="userEmail" element="tns:userEmail"/>
        <wsdl:part name="userPhone" element="tns:userPhone"/>
        <wsdl:part name="userAddress" element="tns:userAddress"/>
        <wsdl:part name="userCity" element="tns:userCity"/>
        <wsdl:part name="userCountry" element="tns:userCountry"/>
        <wsdl:part name="userPostalCode" element="tns:userPostalCode"/>
    </wsdl:message>

    <wsdl:message name="postUserResponse">
        <wsdl:part name="userId" element="tns:userIdNumber"/>
        <wsdl:part name="userIdNumber" element="tns:userIdNumber"/>
        <wsdl:part name="userName" element="tns:userName"/>
        <wsdl:part name="userAge" element="tns:userAge"/>
        <wsdl:part name="userEmail" element="tns:userEmail"/>
        <wsdl:part name="userPhone" element="tns:userPhone"/>
        <wsdl:part name="userAddress" element="tns:userAddress"/>
        <wsdl:part name="userCity" element="tns:userCity"/>
        <wsdl:part name="userCountry" element="tns:userCountry"/>
        <wsdl:part name="userPostalCode" element="tns:userPostalCode"/>
    </wsdl:message>

    <wsdl:message name="getUserRequest">
        <wsdl:part name="userIdNumber" element="tns:userIdNumber"/>
    </wsdl:message>

    <wsdl:message name="getUserResponse">
        <wsdl:part name="userId" element="tns:userIdNumber"/>
        <wsdl:part name="userIdNumber" element="tns:userIdNumber"/>
        <wsdl:part name="userName" element="tns:userName"/>
        <wsdl:part name="userAge" element="tns:userAge"/>
        <wsdl:part name="userEmail" element="tns:userEmail"/>
        <wsdl:part name="userPhone" element="tns:userPhone"/>
        <wsdl:part name="userAddress" element="tns:userAddress"/>
        <wsdl:part name="userCity" element="tns:userCity"/>
        <wsdl:part name="userCountry" element="tns:userCountry"/>
        <wsdl:part name="userPostalCode" element="tns:userPostalCode"/>
    </wsdl:message>

    <wsdl:portType name="wsSoapPort">
        <wsdl:operation name="post_user">
            <wsdl:input message="tns:postUserRequest"/>
            <wsdl:output message="tns:postUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get_user">
            <wsdl:input message="tns:getUserRequest"/>
            <wsdl:output message="tns:getUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="wsSoapPortBinding" type="tns:wsSoapPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="post_user">
            <soap:operation soapAction="http://www.example.com/ws/wsSoapPort/post_user"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_user">
            <soap:operation soapAction="http://www.example.com/ws/wsSoapPort/get_user"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ws">
        <wsdl:port name="wsSoapPort" binding="tns:wsSoapPortBinding">
            <soap:address location="http://wheels_int:3003/wsdl"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>